.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopping-icon {
  width: 26px;
  height: 26px;
}

.item-count {
  position: absolute;
  font-weight: bold;
  font-size: 10px;
  bottom: 12px;
}
